/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-Nov-2018, 10:31:18 AM
    Author     : Nathaniel McIntyre
*/

.header{
    text-align: center;
    font-size: 400%;
    box-sizing: 1%;
    padding: 1%;
    background-image: url("../images/background_dark.png");
    color: white;
}

.video{
    width: 20%;
    height: 10%;
    text-align: center;
    background-image: url("../images/background_dark.png");
}

.timer{
    text-align: center;
    box-sizing: 1%;
    padding: 1%;
    font-size: 400%;
    background-image: url("../images/background_dark.png");
    color: white;
}
