header {
    text-align: left;
    font-weight: 800;
    font-size: 28px;
    border-bottom: 1px dotted #ccc;
    display: flex;
    justify-content: space-between;
}

.calendar {
}

.planner {
    display: inline-block;
}

.entry-list {
    float: left;
}

.input-field li:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}
.input-field li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
}

.input-field {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}


footer {
    display: flex;
    flex-flow: row-reverse;
    padding: 5px 20px;
}

.headers {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 20px;
}

#list-head {
    margin-left: 2.5%;
    width: 95%;
    display: inline-block;
    text-align: center;
}

#note-head {
    width: 95%;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
}

noteList {
    margin-top: 20px;
    display: inline-block;
    margin-left: 2.5%;
    width: 95%;
    height: 400px;
    overflow: scroll;
    border: solid 3px #929292;
    border-radius: 5px;
    background-color: white;
}

.within-list {
    cursor: pointer;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 5px 0 5px;
}

.list-date {
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    padding: 0 5px 0 5px;
}

.list-text {
    padding: 0 5px 5px 5px;
    border-bottom: solid 1px black;
}

notePad {
    display: inline-block;
    border: solid 3px black;
    border-radius: 10px;
    height: 400px;
    overflow: scroll;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
}

#note-title {
    font-size: 24px;
    padding: 0 0 5px 5px;
    border-bottom: solid 2px #DEDEDE;
}

#note-body {
    padding: 5px;
}

#body-field, #title-field {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

#title-field {
    font-size: 18px;
    font-weight: 600;
}

#body-field {
    font-size: 14px;
    font-weight: 500;
    height: 400px;
}

#color-select {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 10px 20px 0 0;
}

.color-box {
    border: solid 2px #929292;
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.display {
    display: visible;
}

.no-display {
    display: none;
}

button {
    margin: 5px;
    border: solid 3px grey;
    border-radius: 10%;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

button:hover, .color-box:hover {
    cursor: pointer;
}

#listed:nth-child(odd):hover {
    cursor: pointer;
}

#btn-save {
    background-color: #87cefa;
     position:absolute;
    bottom: 0%;
    right:8%;
}

#btn-delete {
    background-color: #87cefa;
    
    
}

#btn-back {
    background-color: #87cefa;
     position:absolute;
    bottom: 0%;
    right:0%;
}

#new-note {
    background-color: #87cefa;
}
#back-btn {
    background-color: #87cefa;

    position:absolute;
    bottom: 0%;
    left:0%;

}
