{% block content %}
    {% load static %}
    <link rel="icon" type="image/png" href="{% static "/planner/images/calendar.png" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Responsive slider -->
    <link href="{% static "/planner/css/responsive-calendar.css" %}" rel="stylesheet">
    <div class="container">
      <!-- Responsive calendar - START -->
    	<div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
            <h4><span data-head-year></span> <span data-head-month></span></h4>
            <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
        </div><hr/>
        <div class="day-headers">
          <div class="day header">Mon</div>
          <div class="day header">Tue</div>
          <div class="day header">Wed</div>
          <div class="day header">Thu</div>
          <div class="day header">Fri</div>
          <div class="day header">Sat</div>
          <div class="day header">Sun</div>
        </div>
        <div class="days" data-group="days">
          
        </div>
      </div>
      <!-- Responsive calendar - END -->
    </div>
    <script src="{% static "/js/jquery.js" %}"></script>
    <script src="{% static "/planner/js/responsive-calendar.js" %}"></script>
    <script type="text/javascript">
      var dates = {};
      {% for event in events %}
        dates["{{ event.get_formatted_date }}"] = {};
      {% endfor %}
      $(document).ready(function () {
        $(".responsive-calendar").responsiveCalendar({
          onDayClick: function(events) { 
            var day = $(this).data('day');
            var month = $(this).data('month');
            var year = $(this).data('year');
            if (day < 10)
            {
                day = day + "";
                day = 0 + day;
            }
            window.location.href = '/events/date/'+year+'-'+month+'-'+day+'/';
          },
          events: dates
          
        });
      });
    </script>
{% endblock %}
