{% extends 'base.html' %}
<html>
  <head>
  {% block meta %}
    <meta charset='utf-8'>
    <title></title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static "/planner/images/calendar.png" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static "/main_menu/css/style.css" %}">
  <script type='text/javascript' src="{% static "/planner/js/app.js" %}"></script>
  {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <div class="headers">
          <div id="list-head">
              <h1><b>Main Menu</b></h1> 
          </div>
        </div>
      {% endblock %}
    </header>
    <main>
    {% block content %}
          <div class="calendar">
          {% include "includes/calendar.html" %}
          </div>
              <div id='listed'>
            <ul class="entry-list">
              <li class="list-item">
                <button onclick='window.location.href="/events/"' class="list-btn">
                  Planner
                </button>
              </li>
              <li class="list-item">
                <button onclick='window.location.href="/notes/"' class="list-btn">
                  Notes 
                </button>
              </li>
              <li class="list-item">
                <button onclick='window.location.href="/lifestyle/"' class="list-btn">
                  Lifestyle
                </button>
              </li>
              </li>
            </ul>
           </div>
    {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
  </body>
</html>
