<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        {% block meta %}
      {% load static %}
        <title>Relax</title>
        <link rel="stylesheet" type="text/css" href="{% static "/css/entries.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "/css/style.css" %}">
        <script src="{% static "/relax/js/timer.js" %}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <script>var static_dir = "{% static "/" %}";</script>
        <div class = "header"> Relaxation </div>
        <div class = "timer"><label id="minutes">00</label>:<label id="seconds">00</label></div>
        <div id="video">
            
        </div>
        <button id ="btn-back" onclick='window.location.href="/home/"'>Back</button>
    {% endblock %}
    </body>
    <footer>
        {% block footer %}
        <script src="{% static "/relax/js/random_video.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "/relax/css/style.css" %}">
        {% endblock %}

    </footer>
</html>
